# Virtual environments
.venv/
venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

**/node_modules/

# Playwright
ecommerce-website/playwright-report/
ecommerce-website/blob-report/
ecommerce-website/test-results/
ecommerce-website/playwright/.cache/

# Vite build output
ecommerce-website/dist/